body {
	margin: 0;
	color: #404040;
	height: 5000px;
}

/*.banner {
	width: 100%;
}

.background {
	width: 100%;
}

h1 {
	font-family: Baskerville;
	color: #404040;
	font-size: 30px;
	position: absolute;
	display: inline-block;
	padding-left: 100px;
	padding-top: 100px;
}

h4 {
	font-family: Avenir;
	color: #404040;
	font-weight: 400;
	font-size: 16px;
	width: 300px;
	padding-right: 20px;
}

.flexbox {
	position: absolute;
	display: inline-block;
	display: flex;
	padding-left: 100px;
	padding-top: 280px;
}*/

.urthy {
	width: 900px;
	padding-left: 18%;
	position: fixed;
}

/*.urthybw {
	width: 900px;
	padding-left: 18%;

}

.frame {
	width: 900px;
	padding-left: 18%;
}

.pots {
	width: 900px;
	padding-left: 18%;
	animation-name: fadeIn;
	animation-name: fadeOut;

}
.storage {
	width: 900px;
	padding-left: 18%;;
}
.grinder {
	width: 900px;
	padding-left: 18%;
}
.helper {
	width: 900px;
	padding-left: 18%;
}

@keyframes fadeIn {
	from {opacity:0;}
	to {opacity: 1;}
}

@keyframes fadeOut {
	from {opacity:1;}
	to {opacity:0;}
}*/